.navbar {
  background-color: #fff !important;
  /* color: rgb(201, 17, 17) !important; */
}
.navbar-brand svg {
  color: #1a55ad;
}
.logo {
  color: #13404f;
  font-size: 25px;
}
.logo-1 {
  color: #1cacbd;
  font-size: 25px;
  font-weight: 500;
}
.nav-link {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #13404f !important;
}
li {
  color: #da1b1b !important;
}

.navbar-nav {
  z-index: 1000;
}
.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-size: 700;
  /* z-index: 100; */
}
.navbar-item {
  font-size: 25px;
}
/* .navbar-toggler {
  padding: 1px 5px;
  font-size: 19px;
  background-color: lightgreen;
} */
